@font-face {
  font-family: 'krym';
  src:
    url('fonts/krym.ttf?dceiiz') format('truetype'),
    url('fonts/krym.woff?dceiiz') format('woff'),
    url('fonts/krym.svg?dceiiz#krym') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon-krym {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'krym' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-krym:before {
  content: "\e900";
  color: #fff;
}
